*{
	margin: 0;
}

.non-display{
	display: none;
}

.imp-non-display{
	display: none !important;
}

.bar {
	height: 20px;
	width: 80%;
	border-radius: 5px;
	border: 0.5px solid #cccccc;
	background: #dddddd;
	margin: 15px auto 0 auto;
}

.val {
	height: 20px;
	width: 0px;
	border-radius: 5px;
	background: repeating-linear-gradient(45deg, #99ccff 0px, #99ccff 15px, #0099cc 15px, #0099cc 30px);
	background-size: 42px 20px;
	animation: progress-striped 1s linear 0s infinite normal both;
}

#head-div{
	margin: 0;
	position: sticky;
	top: 0; 
	background-color: #D9EDF7;
	z-index: 10;
	padding-top: 10px;
	height: 70px;
	border-radius: 0 0 10px 10px;
	
}

#inline-div {
	display: flex;
	margin: auto;
}

#inline-div .chart {
	margin: auto;
	display: inline-block;
	width: 400px;
	height:300px;
}


@keyframes progress-striped {
	from {
		background-position: 0px 0px
	}

	to {
		background-position: 42px 0px
	}
}
@media screen and (max-width:1200px){
	#inline-div{
		display: block;
		width: 100%;
	}
	#inline-div .chart{
		width: 80%;
		height: auto;
		margin: 0 10%;
	}
}

.alert{
	margin: 5% 20%;
}

#set-url{
	margin: 10px auto;
}
